@media screen and (min-device-width: 390px) and (max-device-width: 882px) {
  .L3Main {
    padding: 15px;
  }
  .Lp4Main {
    margin: 15px;
  }
  .Lp4MainTitle {
    font-size: 0px;
  }
  .Flex-Lp4 {
    margin-top: 20;
  }
  .banner-main {
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .L3Main {
    padding: 50px;
  }
  .Lp4Main {
    margin: 50px;
  }
  .Lp4MainTitle {
    font-size: 45px;
  }
  .Flex-Lp4 {
    margin-top: 50;
  }
  .banner {
    padding-top: 200;
  }
  .banner-main {
    height: 110vh;
  }
}
.List {
  border: 1px solid rgb(173, 129, 129);
  padding: 30;
  border-radius: 30px;
}

.List:hover {
  transition: border-color 0.3 ease;
  border-color: aqua;
}
#offeringTxt {
  color: rgb(111, 25, 25);
}
